// .mat-stepper-vertical {
//     margin-top: 8px;
// }

// .mat-mdc-form-field {
//     margin-top: 16px;
// }
.example-spacer {
    flex: 1 1 auto;
}

h3 {
    padding-top: 5%;
    padding-left: 23%;
}